backports.shutil-get-terminal-size==1.0.0
banal==0.3.7
beautifulsoup4==4.6.0
contextlib2==0.5.5
countrycode==0.2
countrynames==1.6.0
cycler==0.10.0
cymem==1.31.2
Cython==0.26.1
dask==0.15.3
distributed==1.19.1
dj-database-url==0.5.0
Django==2.2.13
django-countries==5.3.1
django-csvimport==2.11
django-extensions==2.1.0
django-import-export==1.0.1
docutils==0.14
googlemaps==2.5.1
gunicorn==19.9.0
html5lib==0.9999999
imagesize==0.7.1
jsonschema==2.6.0
msgpack-numpy==0.4.1
msgpack-python==0.4.8
multipledispatch==0.4.9
numpy==1.13.3
numpydoc==0.7.0
packaging==16.8
pandas==0.20.3
path.py==10.3.1
pathlib==1.0.1
pathlib2==2.3.0
pep8==1.7.0
pexpect==4.2.1
pkginfo==1.4.1
prompt-toolkit==1.0.15
psutil==5.6.6
psycopg2==2.7.5
py==1.4.34
pycodestyle==2.3.1
pycosat==0.6.3
pycountry==18.5.26
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
pytest==3.2.1
python-dateutil==2.6.1
regex==2017.4.5
requests==2.20.0
simplegeneric==0.8.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
spacy==2.0.5
SQLAlchemy==1.1.13
#tables==3.4.2
tablib==0.12.1
tblib==1.3.2
testpath==0.3.1
textblob==0.15.0
typing==3.6.2
ujson==1.35
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
whitenoise==4.0
widgetsnbextension==3.0.2

