body {
    background-color: #F7EFE2;
    color: #00293C;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    position: relative;
    z-index: 10;
}

html {
  overflow-y: scroll;
}

/* Header */
.header {
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    background-color: #F7EFE2;
    margin: auto;
    text-align: center;
    z-index: 15
}
.header a:link {
    color: #00293C;
}
.header a:visited {
    color: #00293C;
}
.header a:hover {
    color: #00293C;
    text-decoration: none;
}
.header a:active {
    color: #00293C;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #F7EFE2;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid #00293C;

}
/* Links inside the navbar */
.header .navbar a {
    float: left;
    display: block;
    color: #00293C;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.header .navbar a:hover {
    background: #00293C;
    color: #F7EFE2;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 180px; /* Add a top margin to avoid content overlay */
    padding: 50px 80px 75px 80px
}

.main a:link {
	color: #82141c;
    text-decoration: none;
}
.main a:visited {
	color: #82141c;
    text-decoration: none;
}
.main a:hover {
    color: #82141c;
    text-decoration: underline;
}
.main a:active {
	color: #82141c;
    text-decoration: none;;
}

/* Footer navigation bar for paginated lists */
.pagination > li > a {
	border: 0px;
	background-color: #F7EFE2;
}
.page-item.disabled .page-link {
	color: #00293C;
	border: 0px;
	background-color: #F7EFE2;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	border: 0px;
	color: #F7EFE2;
    background-color: #82141c;
    text-decoration: none;

}

/* Tables for displaying scores */
table.scoretable {
	margin-left:auto; 
	margin-right:auto;
}
th {
	background-color:#00293C;
	font-weight: bold;
	color: #F7EFE2;
}
th, td {
    padding: 7px;
    text-align: left;
}
table.scoretable td.gymnast {
	width: 240px;
}
table.scoretable td.score, td.counts, td.up, td.not_used {
	width: 70px;
}
table.scoretable td.country {
	width: 100px;
}
table.scoretable tr:not(.table_header .no_hover):hover {
	background-color: #00293C;
	color: #F7EFE2;
}
table.scoretable tr:not(.table_header .no_hover):hover a {
	background-color: #00293C;
	color: #F7EFE2;
}
td.counts {
    background-color: #82141c;
    color: #F7EFE2;
}
td.not_used {
    color: gray;
}

/* Form */
.form_style {
    text-align: center;
    margin: auto;
}
.form_style .submit {
    border: 0;
    padding-top, padding-bottom: 6px;
    padding-left: 15px; 
    padding-right: 12px;
    text-align: center;
    color: #00293C;
    background-color: #F7EFE2;
    font-family: inherit;
    font-weight: bold;
}
.form_style .submit:hover {
    background-color: #00293C;
    color: #F7EFE2
}
.form_style .submit2 {
    border: 0;
    padding-top, padding-bottom: 6px;
    padding-left: 50px; 
    padding-right: 50px;
    text-align: center;
    background-color: #00293C;
    color: #F7EFE2;
    font-family: inherit;
    font-weight: bold;
}

.form_style .submit2:hover{
    background-color: #82141c;
}
input.search{
    border: none;
    border-bottom: 2px solid #00293C;
    background-color: #F7EFE2;
    font-family : inherit;
    color: #00293C;
}
input.num_input{
    border: none;
    border-bottom: 2px solid #00293C;
    background-color: #F7EFE2;
    font-family : inherit;
    color: #82141c;
    text-align: center;
}

input[type=text]:focus {
	outline: none;
}
.form_style .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    color: #00293C;
    font-family : 'Roboto Condensed', Helvetica, sans-serif;
	background-color: #F7EFE2;

}
.form_style  .ui-menu .ui-menu-item {
	background-color: #F7EFE2;
	color: #00293C;
	font-family: inherit;
	border: none;
	outline: none;
	box-shadow: none;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
	border: 0px; 
	outline: none;
	box-shadow: none;
	font: inherit;
	color: #00293C;
	background-color: #F7EFE2;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active{
	background-color: #00293C;
	color: #F7EFE2;
	font-family: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	border-collapse:collapse;
}
select, textarea {
    background-color: #F7EFE2;
    border: none;
    text-align-last: center;
    color: #82141c;
}
select, textarea :focus {
    border: none;
    box-shadow: none;
}

/* Blog formatting */
.blog_title, .blog_body {
    border-bottom: 2px dotted #00293C ;
    padding-bottom: 0px;
    width: 90%;
    line-height: 10px;
}
.blog_body {
    line-height: 1.2;
}

/*To center images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
